* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #f6f7fc;
  color: #f6f7fc;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  text-align: center;
}

ul {
  background-color: #242257;
  width: 260px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem;
  margin: 0;
  list-style: none;
}

li a {
  padding: 13px 20px 13px 30px;
  color: #f6f7fc;
  display: flex;
  align-items: center;
  height: 46px;
  text-decoration: none;
  border-radius: 0.3rem;
  transition: all 0.3s ease-in-out;
  outline: none;
}

li a:hover {
  background-color: #f6f7fc;
  color: #242257;
  transition: all 0.3s ease-in-out;
}

li span {
  margin-left: 0.4rem;
}

/* Дашборд */

#dashboard:hover svg path:nth-child(7),
#dashboard:hover svg path:nth-child(8) {
  stroke: #242257;
}

#dashboard svg path:nth-child(3) {
  transform-origin: 90% 100%;
}

#dashboard:hover svg path:nth-child(1),
#dashboard:hover svg path:nth-child(2),
#dashboard:hover svg path:nth-child(4),
#dashboard:hover svg path:nth-child(5) {
  animation: 1s dashboard-circle;
  animation-delay: 310ms;
}

#dashboard:hover svg path:nth-child(7) {
  animation: 400ms dashboard-circle ease;
  animation-delay: 200ms;
}

#dashboard:hover path:nth-child(8) {
  animation: 400ms dashboard-rect ease;
}

#dashboard:hover path:nth-child(6) {
  animation: 400ms dashboard-circle;
  animation-delay: 500ms;
}

#dashboard:hover svg path:nth-child(3) {
  animation: 300ms dashboard-rect ease;
  animation-delay: 300ms;
}

#dashboard:hover path:nth-child(8) {
  transform-origin: 10% 100%;
}

/* Расходы */
#cost:hover path:nth-child(6) {
  stroke: #242257;
}

#cost:hover path:nth-child(1),
#cost:hover path:nth-child(2) {
  fill: #242257;
}

#cost:hover path:nth-child(3) {
  fill: #feba4d;
  animation: 0.8s opacity-3;
}

#cost:hover path:nth-child(4) {
  animation: 5s opacity-2;
}

#cost:hover path:nth-child(5) {
  animation: 5s opacity-1;
}

#cost:hover path:nth-child(1),
#cost:hover path:nth-child(6) {
  transform-origin: left bottom;
}

#cost:hover path:nth-child(2) {
  transform-origin: 50% 100%;
}

#cost:hover path:nth-child(1),
#cost:hover path:nth-child(6) {
  animation: 0.5s cost-width-1;
}

#cost:hover path:nth-child(2) {
  animation: 0.5s cost-width-2;
}

/* Расходы */
#projects:hover path:nth-child(1),
#projects:hover path:nth-child(2) {
  stroke: #242257;
}

#projects rect,
#projects path:nth-child(4) {
  transform-origin: 50% 50%;
}

#projects:hover rect,
#projects:hover path:nth-child(4) {
  animation: 600ms cost-width-1 ease;
}

#projects path:nth-child(5) {
  transform-origin: 50% 50%;
}

#projects:hover path:nth-child(5) {
  animation: 400ms project-opacity ease;
}

/* Задачи */
#challenge:hover path:nth-child(1) {
  stroke: #242257;
}

#challenge:hover path:nth-child(1) {
  stroke: #242257;
}

#challenge path:nth-child(3) {
  transform-origin: 5% 70%;
}

#challenge path:nth-child(4) {
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
}

#challenge:hover path:nth-child(3) {
  animation: 1.4s challenge-line ease;
}

#challenge:hover path:nth-child(4) {
  animation: 0.8s challenge-pencil linear;
}

/* Заказ */
#order-creative path:nth-child(4) {
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
}

#order-creative:hover path:nth-child(4) {
  stroke: #242257;
}

#order-creative:hover svg {
  animation: 0.8s challenge-pencil linear;
}

#order-creative:hover circle:nth-child(5) {
  animation: 0.8s order-circle linear;
}

#order-creative:hover ellipse:nth-child(6),
#order-creative:hover ellipse:nth-child(7),
#order-creative:hover ellipse:nth-child(8) {
  animation: 0.8s order-ellipse linear;
}

/* Заказ БМов */
#order-bm:hover svg {
  animation: 400ms order-bm-rotate linear;
}

#order-bm:hover path:nth-child(1) {
  fill: #242257;
  transition: fill 0.3s ease-in-out;
  animation: 800ms order-bm-pathone linear;
}

#order-bm:hover path:nth-child(2) {
  fill: #fee57b;
  transition: fill 0.3s ease-in-out;
  animation: 800ms order-bm-pathtwo linear;
}

#order-bm:hover path:nth-child(3) {
  fill: #006ebe;
  animation: 800ms order-bm-paththree linear;
}

/* База знаний */
#knowledge-base:hover path:nth-child(1) {
  stroke: #242257;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: 2s dash linear forwards;
}

#knowledge-base:hover path:nth-child(2) {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: 2s dash linear forwards;
}

#knowledge-base:hover path:nth-child(3) {
  stroke: #feba4d;
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: 2s dash linear forwards;
}

#knowledge-base:hover rect:nth-child(4) {
  fill: #feba4d;
  animation: 1.3s knowledge-base-circle linear;
}

@keyframes knowledge-base-circle {
  0% {
    fill: none;
  }
  90% {
    fill: none;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes order-bm-paththree {
  0% {
    fill: #fee57b;
  }
  20% {
    fill: #fee57b;
  }
  70% {
    fill: #fee57b;
  }
  80% {
    fill: #006ebe;
  }
  100% {
    fill: #006ebe;
  }
}

@keyframes order-bm-pathtwo {
  0% {
    fill: #242257;
  }
  20% {
    fill: #242257;
  }
  30% {
    fill: #fee57b;
  }
  70% {
    fill: #fee57b;
  }
  90% {
    fill: #006ebe;
  }
  100% {
    fill: #fee57b;
  }
}

@keyframes order-bm-pathone {
  0% {
    fill: #242257;
    stroke: #242257;
  }
  20% {
    fill: #242257;
    stroke: #242257;
  }
  30% {
    fill: #fee57b;
    stroke: #242257;
  }
  90% {
    fill: #fee57b;
    stroke: #242257;
  }
  100% {
    fill: #242257;
  }
}

@keyframes order-bm-rotate {
  to {
    transform: rotate(73deg);
  }
}

@keyframes order-ellipse {
  0% {
    fill: none;
  }
  65% {
    fill: none;
  }
  90% {
    fill: #feba4d;
  }
  100% {
    fill: none;
  }
}

@keyframes order-circle {
  0% {
    fill: none;
  }
  30% {
    fill: none;
  }
  65% {
    fill: #feba4d;
  }
  100% {
    opacity: 0.5;
    fill: none;
  }
}

@keyframes challenge-pencil {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
  }
  65% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes challenge-line {
  0% {
    opacity: 0;
    transform: scale(1, 0) translate(0%, 50%);
    stroke-width: 0.4;
  }
  25% {
    opacity: 1;
    stroke-width: 0.8;
    transform: scale(1, 1);
  }
  40% {
    opacity: 1;
  }
  55% {
    opacity: 0.5;
  }
  70% {
    opacity: 0;
    stroke-width: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}

@keyframes project-opacity {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes cost-width-1 {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes cost-width-2 {
  0% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dashboard-circle {
  0% {
    stroke-width: 0.7;
    opacity: 0;
  }
  50% {
    opacity: 0.3;
    stroke-width: 0.7;
  }
  100% {
    stroke-width: 1.5;
    opacity: 1;
  }
}

@keyframes dashboard-rect {
  0% {
    transform-origin: 50% 100%;
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes opacity-1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-2 {
  0% {
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity-3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
